*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.center {
    display: flex;
    padding: 0 14px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 999;  
}
.logo {
    width: 50%;
    padding: 20px 0;
    padding-left: 220px;

}

.menu {
    width: 50%;
    text-align: right;
    padding: 22px ;
    padding-right: 200px;
    font-family: sans-serif;    
}

.menu a {
    color: rgb(160, 126, 1);
    text-decoration: none;
    font-family: 'Roboto', 'Ubuntu';
    margin-right: 25px;
    font-size: 25px;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 600px;
    background: url(asset/banner-1.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    margin-left: 232px;
    padding: 40px 0;
    font-size: 18px;
    color: rgb(160, 126, 1);
}

h2 {
    color: rgb(160, 126, 1);
}

.grid{
    width: 55%;
    margin-left: 230px;    
}
.grid .grid-text{
    width: 80%;
    margin-left: 500px;
    margin-top: -350px;
    font-size: 20px;    

}
.grid .grid-info{
    width: 80%;
    margin-left: 500px;    
}

p {
    width: 80%;
    text-align: justify;
    margin-top: 25px;
    font-size: 20px;
}

.grid-img-2{
    margin-top: 250px;
}
.grid-text-2{
    width: 80%;
    margin-left: 500px;
    margin-top: -350px;
    font-size: 20px;
}
.grid .grid-info-2{
    width: 80%;
    margin-left: 500px;
}

.grid-img-5{
    margin-top: 250px;
}
.grid-text-5{
    width: 80%;
    margin-left: 500px;
    margin-top: -500px;
    font-size: 20px;
}
.grid .grid-info-5{
    width: 80%;
    margin-left: 500px;
}

.whatsapp {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

footer {
    margin-top: 300px;
    width: 100%;
    background: rgb(160, 126, 1);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 60%;
    padding: 10px;
}

.box h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-left: 220px;
}

.box .content p {
    color: #fff;
}

.box .content {
    margin-left: 220px;
    position: relative;
}
